html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

#loginContainer {
    width: 30%;
    margin: 4em auto;
    font-family: "Helvetica", sans-serif;
    border: 2px solid rgb(2, 114, 2);
    border-radius: 10px;
    background: rgb(128, 180, 128);
    display: flex;
    flex-direction: column;
}

#loginWelcomeTop {
    text-align: center;
    font-size: 2em;
}

#loginInput {
    width: 80%;
    padding-left: 2px;
    border: 2px solid rgb(0, 172, 0);
    background: rgb(197, 241, 197);
}

#loginInput:focus {
    outline: none;
    border: 2px solid rgb(2, 114, 2);
}

#loginSubmit {
    width: 20%;
    padding: 2px;
    border: 2px solid rgb(0, 172, 0);
    background: rgb(0, 172, 0);
    color: silver;
}

#loginSubmit:hover {
    background: rgb(2, 114, 2);
    border: 2px solid rgb(2, 114, 2);
    color: rgb(204, 200, 200);
}

#loginWelcomeBottom {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.5em;
}