html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

#registerContainer {
    width: 30%;
    margin: 4em auto;
    font-family: "Helvetica", sans-serif;
    border: 2px solid rgb(2, 114, 2);
    border-radius: 10px;
    background: rgb(128, 180, 128);
    display: flex;
    flex-direction: column;
}

#registerTopLabel {
    text-align: center;
    font-size: 1em;
}

.registerInput {
    width: 80%;
    padding-left: 2px;
    border: 2px solid rgb(0, 172, 0);
    background: rgb(197, 241, 197);
}

.registerInput:focus {
    outline: none;
    border: 2px solid rgb(2, 114, 2);
}

#registerUser {
    border-top-left-radius: 8px;
}

#registerPass {
    border-bottom-left-radius: 8px;
}

#registerSubmit {
    width: 20%;
    padding: 2px;
    border: 2px solid rgb(0, 172, 0);
    border-bottom-right-radius: 8px;
    background: rgb(0, 172, 0);
    color: silver;
}

#registerSubmit:hover {
    background: rgb(2, 114, 2);
    border: 2px solid rgb(2, 114, 2);
    color: rgb(204, 200, 200);
}

#registerSubmit:focus {
    outline: none;
}